In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/medical_201909.csv.zip", low_memory=False)
df.shape
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19956873,하나산부인과,NaN,S,의료,S01,병원,S01B10,산부인과,Q86201,...,4127310900110810000010857,산호한양아파트,경기도 안산시 단원구 달미로 10,425764.0,15236.0,NaN,NaN,NaN,126.814295,37.336344
1,20024149,타워광명내과의원,NaN,S,의료,S01,병원,S01B07,내과/외과,Q86201,...,1168011800104670014000001,NaN,서울특별시 강남구 언주로30길 39,135270.0,6292.0,NaN,4,NaN,127.053198,37.488742
2,20152277,조정현신경외과의원,NaN,S,의료,S01,병원,S01B15,신경외과,Q86201,...,4139013200117400001017064,한라프라자,경기도 시흥시 중심상가로 178,429450.0,15066.0,NaN,NaN,NaN,126.734841,37.344955
3,20350610,한귀원정신과의원,NaN,S,의료,S01,병원,S01B99,기타병원,NaN,...,2650010400100740001009932,NaN,부산광역시 수영구 수영로 688,613100.0,48266.0,NaN,5,NaN,129.115438,35.166872
4,20364049,더블유스토어수지점,수지점,S,의료,S02,약국/한약방,S02A01,약국,G47811,...,4146510100107120002026238,NaN,경기도 용인시 수지구 문정로 32,448170.0,16837.0,NaN,1,NaN,127.095522,37.323528

In [4]:
dfa = df[df['상권업종소분류명'] == '동물병원' ]
dfa

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
5,20809147,행신동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4128112800106470014011094,NaN,경기도 고양시 덕양구 행신로 147,412220.0,10517.0,NaN,1,NaN,126.831632,37.619309
12,21145534,목포동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4611010200110500078000665,NaN,전라남도 목포시 영산로 200-1,530806.0,58708.0,NaN,1,NaN,126.390244,34.799439
20,21085006,제일가축병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4136037021102040012005537,NaN,경기도 남양주시 퇴계원면 경춘북로558번길 7-7,472821.0,12126.0,NaN,1,NaN,127.146600,37.647633
25,21055738,축협동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4671025025103420000000164,NaN,전라남도 담양군 담양읍 삼거리길 8-6,517806.0,57347.0,NaN,1,NaN,126.981972,35.310645
30,20970595,금광종합동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4113110400100970003039318,NaN,경기도 성남시 수정구 산성대로 431,461801.0,13144.0,NaN,1,NaN,127.158972,37.450472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91172,16366207,동물에반하다동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,2826010400109490004000001,NaN,인천광역시 서구 크리스탈로102번길 22,NaN,22760.0,NaN,1,102,126.639196,37.533858
91174,16365867,반창꼬동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4163011400110490001000001,NaN,경기도 양주시 옥정로 151,482130.0,11479.0,NaN,NaN,302,127.090349,37.815362
91213,16131045,서진동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4513014400105010000028021,현대아파트,전라북도 군산시 나운안2길 8,573778.0,54135.0,102,NaN,905,126.705522,35.967977
91242,16109069,아크리스동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,1168010500101600021015764,동화빌딩,서울특별시 강남구 봉은사로104길 10,135881.0,6170.0,NaN,3,NaN,127.061898,37.513707
91299,16108691,더블유동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,1162010100106220074027662,NaN,서울특별시 관악구 은천로 85,151826.0,8715.0,NaN,NaN,NaN,126.944700,37.487048

In [5]:
dfa["시도명"].value_counts()

경기도        992
서울특별시      557
인천광역시      193
경상북도       165
경상남도       161
부산광역시      153
충청남도       131
대구광역시      119
전라북도       111
강원도         85
대전광역시       77
전라남도        77
충청북도        75
광주광역시       71
울산광역시       61
제주특별자치도     46
세종특별자치시     13
Name: 시도명, dtype: int64